.Page{
	margin: auto;
    padding: .5em;
	background-color: rgb(131, 74, 206);
    height: 100vh;
    
}


.Page-header{
    margin: auto;
    text-align: center;
    display: inline;
    justify-content: center;

}

.Page-body{
    margin: auto;
    width: 90%;
}

.flex-box{
   
   padding: 2%;
   display: flex;
   justify-content: center;
   align-items: flex-start;   

}
 .flex-box-vert{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 2%;
 }

 .container{
    padding: .5em;
    background-color: white;
    border: 2px solid black;
 }

.about-text{
    background-color: white;
    border: 2px solid black;
}

.about-text > p{
    padding: 5px;
    font-size: large;
    width: 95%;
}

.edit_button{
    color: black;
    background-color:orange;
    
}

.edit_link{
    text-decoration: none;
    color: white;
}

.button-del{
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background-color: red;
    font-family: inherit;
    padding: auto;
}

.button-ct{
    width: 15%;
    color: white;
    background-color: green;
    border: 2px solid rgb(0, 0, 0);
}
.tables{
    margin: auto;
    padding: 1%;
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    display: inline-block;
    background-color: white;
}
.table{
    margin: auto;
    background-color: lavender;
    width: 75%;
}

.thead{
    
    background-color: rgb(160, 160, 160);
	position: relative;
    text-align: center;
    justify-content: center;
}

.tbody {

    border: 2px solid black;
    position: relative;
    text-align: center;
    justify-content: center;
}
.form-group{
    padding: .5em;
    display: block;
    position: relative;
    
}


.Page-footer {
	background: #878787;
    padding: 15px 10px;
    position: fixed; 
    left: 0;
    bottom: 0;
	width: 100%;
	text-align: center;
}



