
#navbar {
	position: static;
	width: 100%;
	float: left;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #008bfd;
	border-bottom: 3px solid rgb(9, 93, 161); 
	border-top: 3px solid rgb(9, 93, 161); }
	

.link {
	float: left;
	display: block;
	text-align: center;
	padding: 4px 50px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(255, 255, 255);
	border-right: 3px solid rgb(9, 93, 161);  }
.link:hover{

	color: #008bfd;
	background-color: rgb(255, 255, 255);

}

.selected{

	color : goldenrod;

}
